*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
/.idea/deviceManager.xml
/.kotlin/
/.idea/AndroidProjectSystem.xml
log*.txt
*.jks
build*.log
detekt_report*.txt
release_notes.txt
*.html
scratch/
gradle-daemon-jvm.properties
.idea/
Inspection_Result/
/*.kt
/*.html
/*.json
/*.py
/*.txt
/*.kt
/*.jar
/*.html
code_issues/
/*.kts
*.log
/*.js
/*.bat
/*.class
/*.java
/*.ps1
/*.md
!settings.gradle.kts
!build.gradle.kts
!README.md
!SECURITY.md
!CONTRIBUTING.md
!CODE_OF_CONDUCT.md
!CHANGELOG.md
!gradlew.bat
!jcef-version.txt